$light_color: #fff8e3;
//#cccc9f
$dark_color: #33332d;
//#9fb4cc
$bright_color: #db4015;

$color_dark: #2B435A;
$color_light: #656565;
$page_title_color: #897F64;
$header_color: #C28600;
$page_background_color: #FBE9BB;

$bar_background_color: #dddddf;

$link_color: $color_dark;
$link_visited_color: $color_dark;
$link_hover_color: $color_dark + #222;

$top_nav_border_color: $color_light;

$code_border_color: #999;

$post_nav_color: #999;
$post_border_color: #CCC;
$post_date_color: #555;
$post_comments_border_color: #DDD;
$post_tail_background_color: #EEE;
$post_tail_border_color: #BBB;

$pagination_border_color: #999;

$downloads_th_border_color: black;
$downloads_td_border_color: #777;

$tcTable_border_color: #777;

$team_account_color: #999;
