
@import "blueprint/reset";
@import "blueprint";
@import "blueprint/scaffolding";
@import "compass/typography/lists";
@import "compass/css3/border-radius";

$light_color: #fff8e3;
//#cccc9f
$dark_color: #33332d;
//#9fb4cc
$bright_color: #db4015;

$post_border_color: $bright_color;
$code_border_color: #dedede;
$code_background_color: #f8f9fe;

$post_nav_color: #999;
$post_date_color: #555;
$post_comments_border_color: #DDD;
$post_tail_background_color: #EEE;
$post_tail_border_color: #BBB;

$pagination_border_color: #999;

$link_color: #09066d;
$link_visited_color: $link_color;
$link_hover_color: $bright_color;

$post_padding: 20px;

$width: 1024px;
$sidebar_width: 300px;
$sidebar_margin: 20px;

body.bp {
    @include blueprint-typography(true);
    @include blueprint-utilities;
    @include blueprint-debug;
    @include blueprint-interaction;
}

form.bp {
    @include blueprint-form;
}


body.bp {
    color: $dark_color;
    font-family: Helvetica, 'Liberation Sans', FreeSans, Verdana, Arial, sans-serif;
    font-size: 90%;
    a {
        color: $link_color;
    }
    #wrapper {
        margin: 0 auto;
        width: $width;
    }
    #header {
        padding-top: 30px;
        border-bottom: 3px solid $bright_color;
        margin-bottom: 30px;
        h1 {
            font-size: 3em;
            font-family: Courier, courier, fixed-width;
            margin-bottom: 4px;
            a {
                text-decoration: none;
            }
        }
        #feed {
            float: right;
            margin-top: -20px;
        }
    }
    #footer {
        @include clearfix;
        border-top: 3px solid $bright_color;
        margin: 20px 0;
        padding-top: 10px;
        .license {
            float: left;
        }
        .powered-by {
            @include clearfix;
            float: right;
            img {
                height: 30px;
                float: left;
                margin-top: -10px;
            }
            .text {
                float: left;
                font-weight: bold;
            }
        }
    }
}

img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content-wrapper {
  @include clearfix;
}

#columns {
    //padding-right: 330px;

    #left-column {
      float: left;
      width: $width - $sidebar_width - $sidebar_margin;
    }
    #right-column {
      float: right;
      width: $sidebar_width;
      h3 {
          border-bottom: 1px solid $bright_color;
          margin-bottom: 0.5em;
      }
    }
}

.post-navigation {
    line-height: 1.4em;
    margin-bottom: 2em;
    .next, .previous {
        color: $post_nav_color;
        margin-bottom: 1em;
        .label {
            font-weight: bold;
        }
        a {
            display: block;
            text-decoration: none;
            padding: 0px;
        }
    }
}

.post {
    margin-bottom: 1em;
    padding-bottom: 1em;
    line-height: 1.5em;
    h1.title {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: .5ex;
        border-bottom: 2px solid $post_border_color;
        a {
            text-decoration: none;
        }
    }
    .byline {
        @include clearfix;
        margin-bottom: 1em;
        span.label {
            font-style: italic;
        }
        .date {
            float: left;
            span.value {
                font-weight: bold;
            }
        }
        .tags {
            float: right;
            a {
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    .body {
        @include clearfix;
        margin-bottom: 1em;
        line-height: 1.5em;
        padding-left: $post_padding;
        h1, h2, h3, h4 {
            border-bottom: 1px solid $code_border_color;
            margin-left: -$post_padding;
        }
        h2 {
          font-size: 1.5em;
        }
    }
    .comments-link {
        font-weight: bold;
    }
    pre {
        display: block;
        padding: 0.5em;
        border: 1px solid $code_border_color;
        background-color: $code_background_color;
        overflow-x: auto;
        margin: 1.5em;
    }
    .comments {
        border-top: 1px solid $post_comments_border_color;
        margin-bottom: 2em;
    }
    .tail {
        background-color: $post_tail_background_color;
        border: 1px solid $post_tail_border_color;
        padding: .8ex;
        margin-bottom: 1em;
        margin-top: 1em;
    }
}

#error-404 {
    @include prepend(4);
    @include column(16);
    @include append(4);
    font-size: 200%;
}

form {
    label {
        display: block;
    }
}

.bp {
    .pagination-links {
        margin-bottom: 1em;
        a {
            text-decoration: none;
        }
        a, .current-page, .slip {
            padding: .5ex;
            margin-right: .5ex;
        }
        a.page-link, .current-page, .previous-link, .next-link {
            border: 1px solid $pagination_border_color;
        }
        .current-page {
            font-weight: bold;
        }
    }
}


div.gist {
    margin: 2em 0;
}

.tag-cloud {
    margin: auto;
    text-align: justify;

    .tag {
        a {
            text-decoration: none;
        }
    }

    .tag-0 {
        font-size: 110%;
    }

    .tag-1 {
        font-size: 125%;
    }

    .tag-2 {
        font-size: 140%;
    }

    .tag-3 {
        font-size: 155%;
    }

    .tag-4 {
        font-size: 170%;
    }

    .tag-5 {
        font-size: 185%;
    }

    .tag-6 {
        font-size: 200%;
    }

    .tag-7 {
        font-size: 215%;
    }

    .tag-8 {
        font-size: 230%;
    }

    .tag-9 {
        font-size: 245%;
    }

    .tag-10 {
        font-size: 250%;
    }

    .tag-11 {
        font-size: 250%;
    }

}


